/* STRUCTURAL STUFF */
* {
  margin: 0px;
  padding: 0px;
  text-align: left;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 48px; }

/* The upper bar */
.action-bar {
  height: auto;
  max-height: 1em;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out; }

/* The bottom bar */
.navigation-bar {
  height: 1em; }

/* A button on the upper bar */
.action-bar .btn {
  position: relative;
  top: -1em;
  margin: 0 0.083em;
  height: 0.844em;
  width: 0.844em; }

.multi-line-icon {
  height: 2em; line-height: 1.8;float: left; width: 1.5em;padding-left: 0.333em; }

.action-btn-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -0.0833em;}

/* Main content between the bars */
.main {
  padding: 0.333em; }

/* Title in the action bar */
h1 {
  font-size: 0.833em;
  font-weight: bold;
  text-align: center;
  height: 100%;
  overflow: hidden; }

/* Section headings */
h2 {
  font-size: 0.666em;
  text-transform: uppercase;
  border-bottom: 2px solid #000; }

blockquote {
  border-left: 0.166em solid #000;
  padding-left: .5em; }

/* For grouping similar stuff */
.section {
  padding-bottom: 0.666em; }

.link-button {
  font-size: 0.5em;
  border-bottom: 1px solid #000;
  display: block;
  padding: 0.333em 0 0.333em 0;
  text-decoration: none;
  position: relative; }

p, ul, ol, dl, table {
  font-size: 0.45em;
  padding: 0.422em 0; }

pre, textarea {
  font-size: 0.333em;
  padding: 0.5em 0; }

.input-line {
  overflow: hidden;
  height: 1em;
  position: relative;
  border-bottom: 1px solid #000; }

label, input {
  font-size: 0.5em;
  border: none;
  background: transparent;
  display: block;
  padding: 0.5em 0 0.5em 0;
  text-decoration: none;
  -webkit-user-select: text; }

label {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%; }

.multi-line {
  padding: 0.083em; }

input {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding-right: 0.5em; }

.checkbox {
  margin-right: 0.166em;
  width: 1em;
  float: right;
  height: 100%; }

.primary {
  font-size: 0.833em; }

.secondary {
  font-size: 0.666em; }

label, input, .input-line {
  background: transparent; }

select {
  font-size: 0.333em;
  position: absolute;
  top: 0.833em;
  right: 0px; }

#toast-container {
  position: absolute;
  padding: 1% 4%;
  z-index: 9999;
  width: 92%; }

.toast:hover {
  cursor: pointer;
  box-shadow: #666 0 0 8px;
  opacity: 1; }

.toast {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-bottom: 0.166em;
  border: 2px solid;
  box-shadow: #999 0 0 8px;
  font-size: 0.5em;
  padding: 0.166em 0.333em 0.166em 0.2em;
  opacity: 1.0; }

.initial-toast {
  opacity: 0.5; }

/* GENERIC */
.right {
  float: right; }

.left {
  float: left; }

.lite .action-bar {
  background-image: linear-gradient(to bottom, #a8a8a8 0%, #e3e3e3 100%);
  background-image: -o-linear-gradient(bottom, #a8a8a8 0%, #e3e3e3 100%);
  background-image: -moz-linear-gradient(bottom, #a8a8a8 0%, #e3e3e3 100%);
  background-image: -webkit-linear-gradient(bottom, #a8a8a8 0%, #e3e3e3 100%); }

.lite, .lite h2, .lite select, .lite option, .lite .action-bar {
  background-color: #f3f3f3;
  color: #111111;
  border-color: #111111; }

.lite a {
  color: #111111;
  border-color: #111111; }

.lite .input-line, .lite label, .lite input {
  color: #111111;
  border-color: #111111; }

.lite .primary {
  color: #111111; }

.lite .secondary {
  color: #494949; }

.lite .toast {
  box-shadow: #111111 0 0 8px;
  background-color: #f3f3f3; }

.lite .message {
  border-color: #111111;
  background-color: #c5c5c5; }

.lite .success {
  border-color: #99cc00;
  background-color: #e1ebc2; }

.lite .error {
  border-color: #ff4444;
  background-color: #f5d0d0; }

.lite .info {
  border-color: #33b5e5;
  background-color: #cce6f0; }

.lite .warn {
  border-color: #ffbb33;
  background-color: #f5e7cc; }

.dark .action-bar {
  background: #33B5E5;
  background-image: linear-gradient(to bottom, #292929 0%, #595959 100%);
  background-image: -o-linear-gradient(bottom, #292929 0%, #595959 100%);
  background-image: -moz-linear-gradient(bottom, #292929 0%, #595959 100%);
  background-image: -webkit-linear-gradient(bottom, #292929 0%, #595959 100%); }

.dark, .dark h2, .dark select, .dark option, .dark .action-bar {
  background-color: #080808;
  color: #eeeeee;
  border-color: #eeeeee; }

.dark a {
  color: #eeeeee;
  border-color: #eeeeee; }

.dark .input-line, .dark label, .dark input {
  color: #eeeeee;
  border-color: #eeeeee; }

.dark .primary {
  color: #eeeeee; }

.dark .secondary {
  color: #b4b4b4; }

.dark .toast {
  box-shadow: #eeeeee 0 0 8px;
  background-color: #080808; }

.dark .message {
  border-color: #eeeeee;
  background-color: #363636; }

.dark .success {
  border-color: #669900;
  background-color: #1a2506; }

.dark .error {
  border-color: #cc0000;
  background-color: #2f0606; }

.dark .info {
  border-color: #0099cc;
  background-color: #06252f; }

.dark .warn {
  border-color: #ff8800;
  background-color: #392106; }